In [ ]:
#conditional
age = int(input("enter your age: "))
if age <= 21:
  print("you are eligible for the vote")
else:
  print("you are not eligible for the vote")

enter your age: 12
you are eligible for the vote

In [ ]:
#if else and elif swtatements
marks = 80
if marks >=90:
  print("grade A")
elif marks >=80:
  print("grade B")
elif marks >=70:
  print("grade C")
elif marks >=60:
  print("grade D")
else:
  print("grade F")

grade B

In [ ]:
#nsted if stetemrnts
num = int(input("Enter a number: "))
if num >= 0:
  if num == 0:
    print("number is Zero")
  else:
    print("number is Positive number")
else:
  print("number is Negative")

Enter a number: 0
number is Zero

In [ ]:
num = 10

if num > 5:
  if num % 2 == 0:
    print(f"{num} is greater than 5")
  else:
    print(f"{num} is greater than 5")
else:
  print("number is less than 5")

10 is greater than 5

In [ ]:
is_adult = True
has_voter_id = False

if is_adult or has_voter_id:
  print("you are eligible to vote")
else:
  print("you are not eligible to vote")

you are eligible to vote

In [ ]:
#Ternary Operator
#Shorthand way of writing single line if-else statement


age = 30
message = "Adult" if age >= 18 else "Not Adult"
print(message)

Adult

In [ ]:
#Match-case statement

color = input("Enter the color: ").lower()

match color:
  case "red":
    print("Stop!")
  case "yellow":
    print("Ready!")
  case "green":
    print("Go!")
  case _:
    print("color is unknown")

Enter the color: RED
Stop!

In [ ]:
fruits = ["Apple", "Bananas", "Mangoe"]

for fruit in fruits:
  print(fruit)

Apple
Bananas
Mangoe

In [ ]:
fruits = "Apple"

for fruit in fruits:
  print(fruit)

A
p
p
l
e

In [ ]:
fruits = {"friut":"Apple", "car":"Suzuki", "city":"Tokyo"}

for key, value in fruits.items():
  print(f"{key}:{value}")

friut:Apple
car:Suzuki
city:Tokyo

In [ ]:
for i in range(1, 11):
  print(f"{i}")

1
2
3
4
5
6
7
8
9
10

In [ ]:
#While Loops
count = 0
while count <= 5:
  print(f"Count: {count}")
  count += 1

Count: 0
Count: 1
Count: 2
Count: 3
Count: 4
Count: 5

In [ ]:
while True:
  user_input  = input("Enter the q letter to exit: ")
  if user_input == "q":
    break
  print(f"You entered: {user_input}")

Enter the q letter to exit: 12
You entered: 12
Enter the q letter to exit: qw
You entered: qw
Enter the q letter to exit: r
You entered: r
Enter the q letter to exit: 1
You entered: 1
Enter the q letter to exit: q

In [ ]:
for i in range(10):
  if i == 5:
    break
  print(i)

0
1
2
3
4

In [ ]:
for i in range(10):
  if i == 5:
    continue
  print(i)

0
1
2
3
4
6
7
8
9

In [ ]:
for i in range(10):
  pass

In [ ]:
#Loop inside Loop
for i in range(3):
  for j in range(2):
    print(i, j)

0 0
0 1
1 0
1 1
2 0
2 1

In [ ]:
for i in range(1, 6):
  for j in range (1, 6):
    print(f"{i} x {j} = {i*j}")
  print("\n")

1 x 1 = 1
1 x 2 = 2
1 x 3 = 3
1 x 4 = 4
1 x 5 = 5


2 x 1 = 2
2 x 2 = 4
2 x 3 = 6
2 x 4 = 8
2 x 5 = 10


3 x 1 = 3
3 x 2 = 6
3 x 3 = 9
3 x 4 = 12
3 x 5 = 15


4 x 1 = 4
4 x 2 = 8
4 x 3 = 12
4 x 4 = 16
4 x 5 = 20


5 x 1 = 5
5 x 2 = 10
5 x 3 = 15
5 x 4 = 20
5 x 5 = 25

In [ ]:
def greet(name):
  print(f"Hello, {name} is a good person")

greet("faraz")

Hello, faraz is a good person

In [ ]:
def display_info(name, age = 21):
  print(f"Name: {name}, Age:{age}")

display_info("faraz", 22)

Name: faraz, Age:22

In [ ]:
def my_func():
  pass

res = my_func()

print(res)

None

In [ ]:
#Arbitrary Arguments
def print_arg(*args):
  for arg in args:
    print(arg)

print_arg(1,2,3,4,5)

1
2
3
4
5

In [ ]:
#KeyWord Arguments
def print_kwargs(**kwargs):
  for key, value in kwargs.items():
    print(f"{key}: {value}")

print_kwargs(name="faraz", age=21)

name: faraz
age: 21

In [ ]:
#Lambda Function
#One liner function

square = lambda x:x**2
print(square(5))

25